In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import os
import shutil

In [2]:
TRAIN_DATA = 'D:/download/TRAIN_SET'
print(os.listdir(TRAIN_DATA))

['APPLES', 'BANANA', 'ORANGE', 'PINEAPPLE', 'WATERMELON']

In [7]:
meta_data_df = pd.DataFrame()
meta_data_df['fruit'] = None
meta_data_df['path'] = None
count = 0
for folder in tqdm(os.listdir(TRAIN_DATA)):
    for images in tqdm(os.listdir(os.path.join(TRAIN_DATA, folder))):
        full_path = f'{folder}/{images}'
        meta_data_df.loc[count, 'fruit'] = folder
        meta_data_df.loc[count, 'path'] = full_path
        count += 1

print('created meta data')

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/606 [00:00<?, ?it/s]

  0%|          | 0/445 [00:00<?, ?it/s]

  0%|          | 0/479 [00:00<?, ?it/s]

  0%|          | 0/621 [00:00<?, ?it/s]

  0%|          | 0/475 [00:00<?, ?it/s]

created meta data

In [8]:
meta_data_df

           fruit                     path
0         APPLES         APPLES/0_100.jpg
1         APPLES       APPLES/100_100.jpg
2         APPLES       APPLES/101_100.jpg
3         APPLES       APPLES/102_100.jpg
4         APPLES       APPLES/103_100.jpg
...          ...                      ...
2621  WATERMELON   WATERMELON/r_6_100.jpg
2622  WATERMELON   WATERMELON/r_7_100.jpg
2623  WATERMELON  WATERMELON/r_81_100.jpg
2624  WATERMELON   WATERMELON/r_8_100.jpg
2625  WATERMELON   WATERMELON/r_9_100.jpg

[2626 rows x 2 columns]

In [9]:
meta_data_df.to_csv('fruits_metadata.csv', index = False)

## For the test set now

In [10]:
TEST_DATA = 'D:/download/TEST_SET'
print(os.listdir(TEST_DATA))

['APPLES', 'BANANA', 'ORANGE', 'PINEAPPLE', 'WATERMELON']

In [11]:
meta_data_df = pd.DataFrame()
meta_data_df['fruit'] = None
meta_data_df['path'] = None
count = 0
for folder in tqdm(os.listdir(TEST_DATA)):
    for images in tqdm(os.listdir(os.path.join(TEST_DATA, folder))):
        full_path = f'{folder}/{images}'
        meta_data_df.loc[count, 'fruit'] = folder
        meta_data_df.loc[count, 'path'] = full_path
        count += 1

print('created meta data')

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/157 [00:00<?, ?it/s]

  0%|          | 0/287 [00:00<?, ?it/s]

  0%|          | 0/160 [00:00<?, ?it/s]

  0%|          | 0/294 [00:00<?, ?it/s]

  0%|          | 0/157 [00:00<?, ?it/s]

created meta data

In [12]:
meta_data_df

           fruit                     path
0         APPLES       APPLES/151_100.jpg
1         APPLES       APPLES/152_100.jpg
2         APPLES       APPLES/153_100.jpg
3         APPLES       APPLES/154_100.jpg
4         APPLES       APPLES/155_100.jpg
...          ...                      ...
1050  WATERMELON  WATERMELON/r_95_100.jpg
1051  WATERMELON  WATERMELON/r_96_100.jpg
1052  WATERMELON  WATERMELON/r_97_100.jpg
1053  WATERMELON  WATERMELON/r_98_100.jpg
1054  WATERMELON  WATERMELON/r_99_100.jpg

[1055 rows x 2 columns]

In [13]:
meta_data_df.to_csv('fruits_metadata_test.csv', index = False)